@font-face {
    font-family: 'San Fransisco';
    font-weight: lighter;
    src: local('SFCompactDisplay-Thin'), url(../fonts/SFCompactDisplay-Thin.otf) format('opentype');
}

* {
    box-sizing: border-box;
    font-family: 'San Fransisco';
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'San Fransisco';
    -webkit-font-smoothing: antialiased;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#versionNumber {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #AAA;
    z-index: 3;
    padding: 3px;
    font-size: 10px;
}

.header {
    background-color: /*#20232a*/ #000;
    color: #ffffff;
    height: 40px;
    z-index: 2;
    width: 100%;
    box-shadow: 1px 0px 10px #333;
    -webkit-app-region: drag;
    user-select: none;
}

.header img {
    width: 22px; 
    height:22px;
}

.inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.appControl i {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    color: greenyellow;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.headerTitle {
    width: 250px;
    font-size: 26px;
    text-shadow: 0px 0px 3px #000;
    margin-left: 5px;
    -webkit-app-region: no-drag;
}

.browserControls {
    flex-grow: 0;
    margin-right: 25px;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

    .browserControls i {
        padding: 10px;
        font-size: 22px;
        transition: ease 0.5s;
    }

.dragbar {
    flex-grow: 10;
}

.browserControls i.disabled {
    padding: 10px;
    font-size: 22px;
    cursor: default;
    color: #333;
}

.nlmTitle {
    margin-right: 2px;
    font-size: 30px;
    -webkit-app-region: no-drag;
}

.accountSearch {
    margin-right: 15px;
    -webkit-app-region: no-drag;
}

.login {
    display: flex;
    margin-right: 10px;
    -webkit-app-region: no-drag;
}

#loginError {
    padding-top: 25px;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.inline {
    display: inline;
}

.NLMGreen {
    /*color: #91c844;*/
    color: greenyellow;
}

.sidebar {
    width: 250px;
    font-size: 14px;
    background-color: #000;
    box-shadow: 0px 0px 7px #333;
    z-index: 2;
    margin-left: -250px;
    transition: ease 0.5s;
    color: #FFF;
}

.sidebarSection {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebarSectionHeading {
    font-size: 16px;
    color: greenyellow;
    padding: 10px;
    flex: 1;
    height: 35px;
    max-height: 35px;
    font-weight: bold;
    margin: 0px 5px 5px 5px;
}

.findAccountWrapper {
    padding: 15px;
}

.accountName {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 30px 30px;
    flex: 1;
    height: 35px;
    max-height: 35px;

}

.changeAccount {
    float: right;
    margin-right: 15px;
    color: greenyellow;
}

.sidebarSectionList {
    padding: 10px 0px 10px 35px;
    box-shadow: 0px 0px 2px #333;
    overflow-y: auto;
}

.sidebarSectionListItem {
    display: flex;
    padding-bottom: 15px;

}

.sidebarSectionListApplicationLabel {
    margin: 10px;
    margin-left: -20px;
    font-size: 16px;
    border-bottom: 1px solid greenyellow;
    color: greenyellow;
}

.sidebarSectionListItem:last-child {
    padding-bottom: 0px;
}

.sidebarSectionListItemLabel {
    flex-grow: 10;
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebarSectionListItemIFrame {
    float: right;
    margin-right: 10px;
    padding: 5px;
    flex-grow: 0;
    border: 1px solid transparent;
    cursor: pointer;
    color: #555;
}

.sidebarSectionListItemIFrame:hover:not(.active), .sidebarSectionListItemIFrame.opened {
    color: #EEE;
    visibility: visible;
}



.sidebarSectionListItemIFrame.active {
    color: #333;
    background-color: greenyellow;
    visibility: visible;
    
}

.sidebarSectionListItemIFrame.open {
    color: #999;
    border-radius: 3px;
    border: 1px solid #AAA;
    visibility: visible;
}

.sidebarSectionListItem div {
    display: inline-block;
}

.viewPane {
    flex-grow: 7;
    font-size: 10px;
    background-color: #EEE;
    padding: 1px;
}

.viewPane webview {
    width: 100%;
    height: 100%;
    border: 0;
}

.content {
    flex-grow: 1;
    display: flex;
}

webview.hide {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

webview {
    overflow: auto;
    overflow-y: hidden;
    background-color: white;
}









.search-wrapper {
    position: relative;
    border-radius: 20px;
    transform-origin: 100% 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 250ms ease;
    -webkit-app-region: no-drag;
    margin-right: 10px;
}

.search-wrapper.focused {
    width: 400px;
}

.search-wrapper.focused input {
    padding: 0 40px 0 13px;
    width: 100%;
    transform: scale(1);
    background-color: #444;
    border-radius: 2px;
    box-shadow: 0px 0px 8px #000 inset;
}

.search-wrapper input {
    background: transparent;
    border: 0;
    color: white;
    outline: none;
    height: 30px;
    width: 0;
    overflow: hidden;
    font-weight: 100;
    transform: scale(0);
    transform-origin: 0 50%;
    transition: 275ms ease;
}

.search-wrapper input::placeholder {
    color: #AAA;
}


.search-wrapper i {
    position: absolute;
    color: greenyellow;
    font-size: 18px;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
}



















.loginPaneWrapper {
    position: absolute;
    margin: auto;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 410px;
    background-color: #ccc;
    border-radius: 3px;
}

.loginPaneWrapper.form-success .container h1 {
    transform: translateY(85px);
}

.loginPaneWrapper .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 80px 0;
    height: 410px;
    text-align: center;
    background-color: #000;
    color: greenyellow;
    box-shadow: 0px 0px 7px #000;
    border-radius: 3px;
    overflow: hidden;
}

.loginPaneWrapper .container h1 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
    margin: 0;
}

.loginPaneWrapper .container .innerContainer {
    margin-top: 400px;
}

.loginPaneWrapper form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.loginPaneWrapper form input {
    display: block;
    outline: 0;
    border: 1px solid rgba(255,255,255, 0.4);
    background-color: rgba(255,255,255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

.loginPaneWrapper form input.error {
    border: 1px solid red;
    /*-webkit-animation: shake .5s linear;*/
}

.loginPaneWrapper form input.invalid {
    -webkit-animation: shake .5s linear;
}

.loginPaneWrapper form input:hover {
    background-color: rgba(255,255,255, 0.4);
}

.loginPaneWrapper form input:hover::placeholder {
    color: #AAA;
}

.loginPaneWrapper form input:focus {
    background-color: rgba(255,255,255, 0.4);
    /*width: 300px;*/
    color: white;
}

.loginPaneWrapper form input:focus::placeholder {
    color: #AAA;
}

button {
    outline: 0;
    border: 0;
    padding: 10px 15px;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    background-color: greenyellow;
    cursor: pointer;
    box-shadow: 1px 1px 3px #333;
    color: #333;
    border-radius: 1px;
}

.loginPaneWrapper button {
    margin-top: 15px;
    width: 250px;
}

.loginPaneWrapper button:hover {
    box-shadow: 0px 0px 7px rgb(245, 247, 249);
}


@-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }

    25%, 58% {
        -webkit-transform: translateX(10px);
    }

    75% {
        -webkit-transform: translateX(-5px);
    }

    92% {
        -webkit-transform: translateX(5px);
    }

    0%, 100% {
        -webkit-transform: translateX(0);
    }
}


#AutoUpdater {
    margin-top: 100px;
}

#updaterInstaller {
    margin-top: 75px;
}



.progress {
    padding: 4px;
    background: rgba(128, 128, 128, 0.65);
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    margin: 0 auto;
    width: 200px;
}

.progress-bar {
    height: 16px;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    background-color: #86e01e;
}


.loaderWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: RGBA(0,0,0,0.5);
    z-index: 10;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}

.loader {
    color: greenyellow;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%) translateZ(0);
    top: 57px;
    left: 150px;
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}















[data-reactroot] {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
}

#webviews {
    height: 100%;
}







::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: RGBA(173, 255, 47, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.browser {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tabbar {
    height: 32px;
    display: flex;
    width: 100%;
    cursor: default;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;

    .tab {
        margin: auto 1px;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        max-width: 250px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #333;
        border: 1px solid #aaa;
        border-bottom: none;
        border-left: none;
        background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(204,204,204,1) 100%);
        font: caption;
        font-size: 14px;
        background-color: #ccc;
        cursor: pointer;
        display: flex;

        &.active {
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
        }

        .title {
            max-width: 180px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            height: 30px;
            padding: 6px 8px 4px;
        }

        .close {
            display: flex;
            height: 14px;
            margin: auto;
            padding: 0px 5px;
            height: 30px;

            i {
                font-size: 12px;
                margin: auto;
            }
        }
    }
}











.fullWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0,0,0,0.5);

    .accountSearchWrapper {
        position: absolute;
        width: 640px;
        height: 480px;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #000;
        padding: 20px;
        display: flex;
        flex-direction: column;

        h2 {
            color: greenyellow;
            margin: 0;
        }

        form input {
            display: inline-block;
            outline: 0;
            border: 1px solid rgba(255,255,255, 0.4);
            border-radius: 1px;
            padding: 10px 15px;
            margin: 3px;
            text-align: center;
            transition-duration: 0.25s;
            font-weight: 300;
        }

        .grid {
            height: 100%;
            flex: 1;
            background-color: #EEE;
            overflow: auto;
            margin: 0 9px;

            > div {
                border-bottom: 1px solid #666;
                padding: 10px;
                cursor: pointer;
                color: #000;
            }
        }
    }

    .searchingCover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 480px;
        width: 640px;
        background-color: rgba(0,0,0,0.8);
    }

    .loader {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
