/// <reference path="_variables.scss" />

.tabbar {
    height: auto;
    display: flex;
    width: 100%;
    cursor: default;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
    flex-shrink: 1;
    flex-grow: 0;
    width: 0;
    min-width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 3px;
    }

    .tabsWrapper {
        display: flex;
        flex-direction: row;
    }

    .tab {
        margin: auto 1px;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #333;
        border: 1px solid #aaa;
        border-bottom: none;
        border-left: none;
        background-image: $gradient-light;
        font: caption;
        font-size: 14px;
        background-color: #ccc;
        cursor: pointer;
        display: flex;
        flex-shrink: 0;

        &.associated {
            background-image: none;
            background-color: $accent-color;
            color: $base-color1;
        }

        &.associated.active {
            background-color: none;
            background-image: $gradient-active;
            color: $white;
        }

        .title {
            width: 180px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            height: 30px;
            padding: 6px 8px 4px;
            font-size: 12px;
            cursor: pointer;
        }

        .close {
            display: flex;
            height: 14px;
            margin: auto;
            padding: 0px 5px;
            height: 30px;
            cursor: pointer;

            i {
                font-size: 12px;
                margin: auto;
                cursor: pointer;
            }
        }
    }
}