$base-color1: #262526;
$base-color2: #696a6c;
$base-color3: #4d4d4d;
$base-color5: #e5e7db;
$accent-color: #c1d72e;
$white: #ffffff;
$gradient-base: linear-gradient(to bottom, #4d4d4d, #262526);
$gradient-active: linear-gradient(to bottom, #c1d72e, #99af06);
$gradient-light: linear-gradient(to bottom, #fffff9, #e5e7db);
$large-heading: 30px;
$small-heading: 20px;
$secondary-label: 16px;
$options: 14px;
$primary-font: 'HelveticaNeue-Light';
$secondary-font: 'HelveticaNeue-Bold';